.hero{
    background-position: 0% 60%;
}

.container{
    width: 85%;
    display: flex;
    background-color: #fff;
}

.blog_post{
    width: 100%;
}

.form-group{
    display: flex;
    width: 80%;
    margin-bottom: 10px;
}

.form-group__title,
.form-group__category{
    width: 100%;
}

.form-group__title{
    margin-right: 20px; 
}

// Editor
.ck-editor__top 
.ck-sticky-panel
.ck-toolbar
.ck-rounded-corners, 
.ck-rounded-corners
.ck-editor__top
.ck-sticky-panel
.ck-toolbar,
.ck-editor__main{
    width: 80%;
}

.comment-field{
    input[type=text],
    select{
        width: 100%;
    }
    textarea{
        width: 90%;
    }
    input[type=submit]{
        width: 100px;
        text-align: center;
    }
}

.profile-container{
    width: 80%;
}

.profile img{
    max-width: 10em;
}

.profile-info{
    width: 75%;
}

.ck-editor__editable.ck-rounded-corners, 
.ck-rounded-corners .ck-editor__editable{
    height: 200px;
    border-radius: 4px;
}


.sidebar{
    display: block;
    width: 250px;
}