.container{
    width: 80%;
    padding: 2em 8em;
    background-color: #fff;
}

.profile-wrapper{
    padding: 0em 0em;
}

.profile-info{
    h1{
        font-size: 2em;
    }
}

.comment-field{
    input[type=text],
    select{
        width: 100%;
    }
    input[type=submit]{
        width: 100px;
        text-align: center;
    }
}

.ck-editor__editable.ck-rounded-corners, 
.ck-rounded-corners .ck-editor__editable{
    height: 200px;
    border-radius: 4px;
}

.footer-wrapper{
    width: 100%;
    background-color: $dark_blue;
}
