.footer-wrapper{
    background-color: $dark_blue;
    color: #fff;
    ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    a{
        color: #fff;
    }
    a:hover{
        color: $light_gray;
        text-decoration: none;
    }
}

.footer-container{
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-margin{
    margin-bottom: 20px;
}

.footer-logo img{
    height: 60px;
    margin-bottom: 20px;
}