body{
    font-family: $millhouse_font;
    background-color: #fff;
    color: $dark_blue;
    letter-spacing: 0.05em;
}

a{
    color: $dark_blue;
}

a:hover{
    text-decoration: none;
    color: $light_gray;
}

h1{
    font-weight: 900;
    margin: 0px 0px 10px 0px;
}

h2{
    margin-top: 0px;
    font-weight: 900;
}

h3{
    font-size: 1.1em;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}

h4{
    font-weight: 900;
    margin: 0.2em 0em;
}

.buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    input[type=submit]{
        margin: 0px 0px 10px 0px;
    }
}

.hero{
    color: #fff;
    font-style: italic;
    font-size: 2em;    
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: 0% 60%;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    h2{
        font-size: 1.7em;
        font-weight: normal;
    }
    img{
        margin-top: -50px;
    }
}

.wrapper{
    width: 100%;
    background-color: $light_gray;
}

.container{
    max-width: 1088px;
    padding: 2em;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar{
    display: block;
    text-align: center;
    max-width: 30ch;
    ul{
        list-style: none;
        padding-left: 0px;
    }
}

.blog-post{
    margin-bottom: 2em;
    max-width: 75ch;
    h3{
        margin: 0.8em 0em;
        font-size: 0.9em;
        font-weight: normal;
        text-transform: uppercase;
    }
    img{
        width: 100%;
    }
    p{
        font-family: $millhouse_font;
        font-size: 1em;
        letter-spacing: 0.05em;
        line-height: 1.5em;
        text-align: justify;
        text-justify: inter-word;
    }
}

.comments-container{
    margin: 20px 0px 0px 0px;
    h4{
        padding-bottom: 10px;
        border-bottom: 1px solid $light_gray;
    }
    .comments{
        padding: 10px 0px;
        border-bottom: 1px solid $light_gray;
    }
}

.comments-counter{
    font-size: 0.8em;
}

.go-back{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-wrapper{
    background-color: $dark_blue;
    color: #fff;
    ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    a{
        color: #fff;
    }
    a:hover{
        color: $light_gray;
        text-decoration: none;
    }
}

.footer-container{
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-margin{
    margin-bottom: 20px;
}

.footer-logo img{
    height: 60px;
    margin-bottom: 20px;
}

.center-heading{
    text-align: center;
}

.login,
.register{
    text-align: center;
    input[type=text], 
    input[type=email], 
    input[type=password]{
        width: 250px;
        height: 40px;
        padding: 10px;
        margin-bottom: 15px;
        font-family: 'Fira Code', monospace;
        color: $dark_blue;
        text-align: center;
        background-color: $input;
        border: 0px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }
    input[type=submit]{
        @extend input[type=text];
        color: #fff;
        background-color: #5d7e93;
        margin-bottom: 20px;
        box-shadow: 0px 3px 0px 0px $dark_blue;
        -webkit-box-shadow: 0px 3px 0px 0px $dark_blue;
        -moz-box-shadow: 0px 3px 0px 0px $dark_blue;
    }
    input[type=submit]:hover{
        color: $dark_blue;
        background-color: $light_gray;
        box-shadow: 0px 3px 0px 0px $dark_gray;
        -webkit-box-shadow: 0px 3px 0px 0px $dark_gray;
        -moz-box-shadow: 0px 3px 0px 0px $dark_gray;
    }
}

select{
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Fira Code', monospace;
    color: $dark_blue;
    background-color: $input;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.comment-field,
.insert-form{
    @extend .login;
    margin: 0px 0px 0px 0px;
    text-align: left;
    h4{
        padding-bottom: 10px;
    }
    input[type=text]{
        width: 100%;
        text-align: left;
        box-shadow: inset 0 0px 0px;
    }
    textarea{
        @extend select;
        height: 150px;
        resize: none;
    }
    input[type=submit]{
        width: 100px;
        text-align: center;
    }
}

.insert-form{
    @extend .profile-wrapper;
}

// CKEditor WYSIWYG
.ck-editor__top
.ck-sticky-panel
.ck-toolbar
.ck-rounded-corners, 
.ck-rounded-corners
.ck-editor__top
.ck-sticky-panel
.ck-toolbar{
    width: 100%;
    background-color: $dark_blue;
    border: none;
}

// Styling for CKEditor textarea
.ck-editor__main{
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Fira Code', monospace;
    background-color: $input;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
}

// CKEditor textarea
.ck-editor__editable
.ck-rounded-corners, 
.ck-rounded-corners
.ck-editor__editable{
    border: none;
    height: 200px;
}

.profile-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    background-color: $input;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}


.profile-info{ 
    h4{
        margin: 0.8em 0em;
        font-size: 0.9em;
        font-weight: normal;
        text-transform: uppercase;
    }
}

.profile img{
    max-width: 8em;
    margin-right: 30px;
}

.amount-container{
    @extend .profile-container;
    justify-content: space-around;
}

.amount{
    padding: 10px;
    text-align: center;
    background-color: $input;
}

.list-container{
    @extend .amount-container;
    flex-direction: column;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 0px;
    ul{
        list-style: none;
        padding-left: 0px;
    }
}

.category-bold{
    font-weight: 700;
}

.dot{
    color: rgb(184, 182, 182);
    padding: 0px 5px;
}

.username{
    text-transform: none;
}

.button{
    text-align: center;
    a{
        margin-bottom: 15px;
        background-color: $light_blue;
        border: none;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
}

.nav-margin{
    margin-right: 0px;
}

a.profile-button{
    margin: 0px 5px 0px 0px;
    padding: 5px 10px;
    color: #FFF;
    font-size: 0.9em;
    letter-spacing: 0.08em;
    background-color: $light_blue;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    .fa{
        color: $dark_blue;
    }
}
a:hover.profile-button{
    color: $dark_blue;
    background-color: $light_gray;
}

#current-page{
    padding: 10px;
    color: #fff;
    background-color: $light_blue;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
}
#current-page:hover{
    color: $dark_blue;
    background-color: $light_gray;
}

.page-number{
    a:link{
    @extend #current-page;
    background-color: $light_gray;
    padding: 5px;
    margin-right: 5px;
    }
    a:hover{
        @extend #current-page;
        color: #fff;
        background-color: $light_blue;
    }
}

.profile-image img{
    margin: 5px 15px 0px 0px;
    max-width: 40px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}

.profile-image img{
    display: none;
}