.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #1c3145;
    background-color: #a6cac7;
}

.navbar, .navbar-default {
    background-color: #1c3145;
    border-color: #1c3145;
    margin: 0px;
}

.navbar-header .navbar-brand {
	height: 100px;
	img{
		height: 100%;
	}
}

nav, .navbar-nav, .navbar-right{
	margin-top: 25px;
}

.navbar-toggle {
	margin-top: 23px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 40px;
    height: 6px;
    margin: 4px;
}

.navbar-header .navbar-toggle:hover .icon-bar {
    background-color: #a6cac7;
}

.navbar-default .navbar-toggle {
	border-color: #1c3145;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #1c3145;
}