// Navbar background-color
.navbar, .navbar-default {
    background-color: $dark_blue;
    border-color: $dark_blue;
    margin: 0px;
}

// Navbar plain text
.navbar-default .navbar-nav > .navbar-text {
    text-align: center;
    color: #5d7e93;
    font-style: italic;
}

// Navbar links
.navbar-default .navbar-nav > li > a {
    color: #fff;
    text-align: center;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: $dark_blue;
    background-color: $light_gray;
}

// Navbar logo
.navbar-header .navbar-brand {
	height: 100px;
	img{
		height: 100%;
	}
}

// Navbar margins of text
nav, .navbar-nav, .navbar-right{
    margin: 25px 15px 0px 0px;
}

.navbar-toggle {
	margin-top: 23px;
}

// Navbar hamburger
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 40px;
    height: 6px;
    margin: 4px;
}

.navbar-header .navbar-toggle:hover .icon-bar {
    background-color: $light_gray;
}

.navbar-default .navbar-toggle {
	border-color: $dark_blue;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: $dark_blue;
}

input[type=submit]{
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    background-color: $light_blue;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

input[type=submit]:hover{
    color: $dark_blue;
    background-color: $light_gray;
}

.button{
    a{
        background-color: $light_blue;
        border: none;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
}

.nav-margin{
    margin-right: 15px;
}