main {
    flex-basis: 78%;
    -webkit-flex-basis: 78%; 
    border-right: 1px solid #ebebeb;
    margin-right: 30px;
}

// aside {
//     flex-basis: 22%;
//     -webkit-flex-basis: 22%; 
// }

.container-fluid{
    max-width: 1280px;
}

// Navbar margins of text
nav, .navbar-nav, .navbar-right{
    margin: 25px 15px 0px 0px;
}

.button{
    a{
        margin-bottom: 0px;
    }
}

.nav-margin{
    margin-right: 15px;
}

.hero{
    background-position: 0% 62%;
    height: 400px;
}

.container{
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2em 4em;
}

.blog-post,{
    width: 95%;
}

.sidebar{
    text-align: left;
}

.profile img{
    max-width: 10em;
}

// Editor
.ck-editor__top 
.ck-sticky-panel
.ck-toolbar
.ck-rounded-corners, 
.ck-rounded-corners
.ck-editor__top
.ck-sticky-panel
.ck-toolbar,
.ck-editor__main{
    width: 100%;
}

.footer-wrapper{
    display: flex;
    justify-content: center;
}
.footer-container{
    padding: 20px 0px 40px 0px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
}

.footer-margin{
    margin-bottom: 0px;
}

.footer-logo img{
    height: 70px;
    margin-bottom: 0px;
}

.profile-image img{
    display: none;
}