main {
    flex-basis: 78%;
    -webkit-flex-basis: 78%; 
}

aside {
    flex-basis: 22%;
    -webkit-flex-basis: 22%; 
}

.navbar, .navbar-default {
    padding-right: 15px;
}

.buttons{
    flex-direction: row;
    input[type=submit]{
        margin: 5px 10px 10px 10px;
    }
}

.hero{
    background-position: 0% 62%;
    height: 400px;
}

.container{
    display: flex;
    justify-content: center;
}

.blog_post{
    width: 95%;
}

// Editor
.ck-editor__top 
.ck-sticky-panel
.ck-toolbar
.ck-rounded-corners, 
.ck-rounded-corners
.ck-editor__top
.ck-sticky-panel
.ck-toolbar,
.ck-editor__main{
    width: 100%;
}

.sidebar{
    display: block;
}

.footer-wrapper{
    padding: 20px 0px 60px 0px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
}

.footer-margin{
    margin-bottom: 0px;
}

.footer img{
    height: 70px;
    margin-bottom: 0px;
}