.navbar, .navbar-default {
    padding-right: 15px;
}

.hero{
    background-position: 0% 62%;
    height: 400px;
}

.container{
    display: flex;
}

.blog_post{
    width: 95%;
}

.sidebar{
    display: block;
    width: 180px;
}